* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
}

/* SIDEBAR */

.navbar {
  background: #020617;
  width: 220px;
  min-height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

.navbar a:hover {
  background: #1e293b;
}

/* TOP RIGHT SECTION */

.user-section {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1000;
}

.notification-link,
.profile-link {
  font-size: 20px;
  text-decoration: none;
}

/* MAIN CONTENT */

.content {
  margin-left: 240px;
  padding: 20px;
}
.container {
  width: 90%;
  max-width: 1000px;
}

.page-title {
  margin-bottom: 20px;
  color: #f8fafc;
}

/* FORMS */

.form-container {
  max-width: 500px;
}

.form-card,
form {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #475569;
  border-radius: 6px;
  background: #334155;
  color: white;
}

input::placeholder {
  color: #cbd5e1;
}

/* BUTTONS */

button {
  padding: 10px 16px;
  border: none;
  background: #0a7ae2;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #080cd4;
}

.delete-btn {
  background: #dc2626;
}

.delete-btn:hover {
  background: #b91c1c;
}

/* BOOKS */

.book-card {
  background: #1e293b;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.book-details {
  flex: 1;
}

.book-card h3 {
  color: #60a5fa;
  margin-bottom: 10px;
}

.book-card p {
  margin: 8px 0;
}

.book-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* BOOK IMAGE */

.book-image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #475569;
}

/* PROFILE PAGE */

.profile-icon {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
}

/* NOTIFICATIONS */

.notification-container {
  max-width: 450px;
}

.notification-box {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4);
}

.notification-box hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #475569;
}